#menu "Zephyr"
#source "Kconfig.zephyr"
#endmenu


#rsource "src/io/Kconfig"
#rsource "src/lte/Kconfig"


#module = APP
#module-str = APP
#source "subsys/logging/Kconfig.template.log_config"

#DT_CHOSEN_BOOT_PARTITION := zephyr,boot-partition
#
#config BOOTLOADER_OFFSET
#    hex "Bootloader offset"
#    default $(dt_chosen_reg_addr_hex,$(DT_CHOSEN_BOOT_PARTITION))
#
#config BOOTLOADER_SIZE
#    hex "Bootloader size"
#    default $(dt_chosen_reg_size_hex,$(DT_CHOSEN_BOOT_PARTITION))
